{% extends "base.html" %}

{% block title %}About Us{% endblock %}


{% block content %}

<div class="header-div">

    <div class="club-name text inline">
        <h2>AI Consulting Club</h2>
    </div> 

    <div class="header-options inline">
        <a class="text header-links" href="about.html">About</a>
        <a class="text header-links" href="team.html">What We Do</a>
        <a class="text header-links" href="portfolio.html">Portfolio</a>
        <a class="text header-links" href="students_page.html"><span class="gold">For Students</span></a>
        <a class="text header-links" href="clients_page.html"><span class="gold">For Clients</span></a>
    </div>

</div>

<div class="about-founders-div hero-text">
    The Founders
</div>

<div class="main-meet-team-div" id="main-meet-team-div">

    <div class="team-div" id="team-div">
        <div id="team-div-jiya" class="person-card glass">
            <img src="{{ url_for('static', filename='images/Jiya_picture.jpeg') }}" class="headshot-pic">
            <div id="info-panel-jiya" class="profile-info-bar info-panel"></div>
            <div id="info-div-jiya" class="profile-info-div info-panel hidden-transition"></div>
        </div>
        <div id="team-div-nishant" class="person-card glass"></div>
        <div id="team-div-fabian" class="person-card glass"></div>
        <div id="team-div-fayiz" class="person-card glass"></div>
    </div>
</div>




<div class="timeline-div">
    <div class="timeline-line"></div>
    <div class="spot-container">

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Applications Open</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Coffee Chats</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Callout #1</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Callout #2</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Applications Close</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Behavioural (R1)</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Case (R2)</p>
        </div>

        <div class="single-spot">
            <div class="circle spot"></div>
            <p class="tag text">Final</p>
        </div>
    </div>

    <!-- <div class="tag-container">
        <p class="tag text">Apps Open</p>
        <p class="tag text">Coffee Chats</p>
        <p class="tag text">Callout #1</p>
        <p class="tag text">Callout #2</p>
        <p class="tag text">Apps Close</p>
        <p class="tag text">Behavioural (R1)</p>
        <p class="tag text">Case (R2)</p>
        <p class="tag text">Final</p>
    </div> -->
    
    

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/fade.js') }}"></script>
{% endblock %}