{% extends "base.html" %}

{% block title %}About Us{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}

<div class="header-div">

    <div class="club-name text inline">
        <img src="{{ url_for('static', filename='images/Club_logo.png') }}" class="club-logo">
    </div>

    <div class="header-options inline">
        <a class="text header-links" href="/">Home</a>
        <a class="text header-links" href="/our-team">Our Team</a>
        <a class="text header-links" href="/about-us">About Us</a>
        <a class="text header-links" href="/for-students"><span class="gold">For Students</span></a>
        <a class="text header-links" href="/for-clients"><span class="gold">For Clients</span></a>
    </div>

</div>

<div class="about-founders-div hero-text">
    The Founders
</div>

<div class="main-meet-team-div" id="main-meet-team-div">

    <div class="team-div" id="team-div">
        <div id="team-div-jiya" class="person-card glass">
            <img src="{{ url_for('static', filename='images/Jiya_picture.jpeg') }}" class="headshot-pic">
            <div id="info-panel-jiya" class="profile-info-bar info-panel">
                <p class="profile-name text">Jiya Jindal</p>
                <p class="profile-role">Business Analytics &amp; Information Management</p>
            </div>
            <div id="info-div-jiya" class="profile-info-div info-panel hidden-transition"></div>
        </div>
        <div id="team-div-nishant" class="person-card glass"></div>
        <div id="team-div-fabian" class="person-card glass"></div>
        <div id="team-div-fayiz" class="person-card glass"></div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/fade.js') }}"></script>
{% endblock %}