{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar_page.css') }}">
{% endblock %}

{% block content %}
<div class="header-div">

    <div class="club-name text inline">
        <a href="/">
            <img src="{{ url_for('static', filename='images/Club_logo.png') }}" class="club-logo">
        </a>
    </div>

    <div class="header-options inline">
        <a class="text header-links" href="/our-team">Our Team</a>
        <a class="text header-links" href="/about-us">About Us</a>
        <a class="text header-links" href="/news">Club News</a>
        <a class="text header-links" href="/calendar">Calendar</a>
        <a class="text header-links" href="/for-students"><span class="gold">For Students</span></a>
        <a class="text header-links" href="/for-clients"><span class="gold">For Clients</span></a>
    </div>

</div>


<!-- CALENDAR -->
<div class="calendar-section">
    <h2 class="calendar-heading hero-text">
        Upcoming <span class="gold italize">events</span> and meetings.
    </h2>

    <div class="calendar-embed-wrapper">
        <iframe class="calendar-embed" src="https://calendar.google.com/calendar/embed?src=purduepioneers%40gmail.com&ctz=America%2FIndiana%2FIndianapolis" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
{% endblock %}
