{% extends "base.html" %}

{% block title %}AI Consulting Club{% endblock %}


{% block content %}
<div class="header">
    <div class="club-name text inline">
        <h2>AI Consulting Club</h2>
    </div> 
    <div class="header-options inline">
        <a class="text header-links" href="team.html">About</a>
        <a class="text header-links" href="team.html">What We Do</a>
        <a class="text header-links" href="portfolio.html">Portfolio</a>
    </div>
</div>


<div class="hero-text text">
    <span id="hero-text-where" class="hidden-transition">Where</span>
    &nbsp;
    <span id="hero-text-ai" class="AI-red hidden-transition">AI</span>
    &nbsp;
    <span id="hero-text-meets" class="hidden-transition">Meets</span>
    &nbsp;
    <span id="hero-text-consulting" class="consulting-blue hidden-transition">Consulting</span>
</div>

<div class="hero-text-paragraph text hidden-transition" id="hero-text-paragraph">
    Placeholder
</div>

<pre>




















</pre>

<div class="main-meet-team-div" id="main-meet-team-div">
    <div class="meet-team-text text hidden-transition">
        Meet the Team!
    </div>
    <div class="team-div hidden-transition" id="team-div">
        <div id="team-div-jiya" class="person-card"></div>
        <div id="team-div-nishant" class="person-card"></div>
        <div id="team-div-fabian" class="person-card"></div>
        <div id="team-div-fayiz" class="person-card"></div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/fade.js') }}"></script>
{% endblock %}

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
-->