{% extends "base.html" %}

{% block title %}Home - AI Consulting Club{% endblock %}

{% block content %}
<div class="header">
    <div class="header_text">
        <h1>AI Consulting Club</h1>
    </div>

    
</div>

<div class="hero-content">
    <h1 class="hero-content-text">Where AI meets Consulting.</h1>
</div>

<div class="first-div">

    <div class="page">
        <p class="first-div-header">
        Executive Summary: Who Are We?
    </p>
    </div>

</div>
<p class="first-div-text">
        We offer a variety of servies
</p>
{% endblock %}

{% block scripts %}
{% endblock %}

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
-->