{% extends "base.html" %}

{% block title %}About Us{% endblock %}


{% block content %}
<div class="header-div">

    <div class="club-name text inline">
        <h2>AI Consulting Club</h2>
    </div> 

    <div class="header-options inline">
        <a class="text header-links" href="/about">About</a>
        <a class="text header-links" href="/what-we-do">What We Do</a>
        <a class="text header-links" href="/portfolio">Portfolio</a>
        <a class="text header-links" href="/for-students"><span class="gold">For Students</span></a>
        <a class="text header-links" href="/for-clients"><span class="gold">For Clients</span></a>
    </div>

    <div class="presentation-pic">
        <img src="">
    </div>

</div>
{% endblock %}